git rm --cached db.sqlite3
home/model2.sav
home/model3.sav
home/model4.sav
home/model5.sav
home/predict_crimerate.py
db.sqlite3
/venv
home/__pycache__
home/migrations/__pycache__
home/templatetags/__pycache__
Places/__pycache__
Places/migrations/__pycache__
Sheher/__pycache__
Visitor/__pycache__
Visitor/migrations/__pycache__
blog/__pycache__
blog/migrations/__pycache__