{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    {% for post in posts %}
    <div class="media-body card" style="background-image: linear-gradient(rgba(255,255,255), rgba(255,200,0,0.2));">
        <div class="article-metadata card-header">
            <div style="font-family:sans-serif; font-weight:bold;">
            {{ post.author }}
            </div>
            <div style="text-align:right; width: 43rem; font-style: italic;">{{ post.date_posted }}</div>
        </div>
            <h2 class="card-title"><a href = "{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <div class="card-text">
            <div class="article-content" style="text-align:right; width: 43rem; font-style: italic;">{{ post.location }}</div>
            {% if post.picture %}
            <img class="rounded mx-auto d-block" src="{{ post.picture.url }}" alt="image">
            {% endif %}
            </div>
    </div>
    <br>
    <br>
    {% endfor %}
{% endblock content %}