{% load index %}
<nav class="navbar navbar-expand-lg navbar-default fixed-top" id="mainNav">
  <div class="container">
    {% if is_search %}
    <div id="wrapper">
      <div id="search" class="d-flex">                  
        <input id="user-input" class="form-control" type="search" placeholder="Search" name="search_field" aria-label="Search">
        <a id="search-btn" class="btn btn-outline-success" href="#places">Search</a>
      </div>
      <div id="replaceable-content" class="page-section bg-light">
        {% include 'search_result_partial.html' %}
      </div>
      <div id="top-places" class="container bg-light">        
        {% if top_places %}
        <div class="row text-center" style="padding:15px;background-color:#ffc107;color:white;">
          <h4 class="card-header"><i class="fa-sharp fa-solid fa-arrow-trend-up"></i> Top places</h4>
        </div>
        <ul class="list-inline" style="margin-top:10px;">
          {% for i,p in top_places.items %}
            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal{{ i }}" style="text-decoration:none;">
            <li>
            <p style="margin-top:-5px;">{{p.name}} {{top_ratings|index:forloop.counter}} <i class="fa-solid fa-star"></i></p>
            <h5 class="item-intro text-muted" style="margin-top:-15px;margin-bottom:-10px;">{{p.city}}</h5>
            <hr>
            </li>
          {% endfor %}
      </ul>      
        {% else %}
        <h4 class="item-intro text-muted" style="padding:10px;">No places to show</h4>
        {% endif %}
      </div>
    </div>
    {% endif %} 

    {% if is_home %}
    <a href="{% url 'home' %}"
      ><button
        class="btn btn-warning btn-lg text-uppercase"
        data-bs-dismiss="modal"
        type="button"
      >
        Home
      </button></a
    >
    {% endif %}

    {% if is_report_page %}
        <a href="https://uppolice.gov.in/frmOfficials.aspx?commvns&cd=NAA1ADIAMgA%3D" target="_blank">
          <button
          class="btn btn-danger btn-lg text-uppercase"
          data-bs-dismiss="modal"
          type="button">
          Police Complaint
        </button></a>
    {% endif %}

    {% if is_navbar_responsive %}
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      Menu
      <i class="fas fa-bars ms-1"></i>
    </button>
    {% endif %}

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">

        {% if is_home_nav %}
        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
        {% endif %}

        {% if is_services %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}#services">Services</a>
        </li>
        {% endif %}

        {% if is_places %}
        <li class="nav-item"><a class="nav-link" onclick="allPlaces()" href="{% url 'home' %}#places">Places</a></li>
        {% endif %}

        {% if is_team %}
        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}#team">Team</a></li>
        {% endif %}

        {% if is_contributors %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}#contributors">Contributors</a>
        </li>
        {% endif %}

        {% if is_report %}
        <li class="nav-item">
          {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'report' %}">Report</a>
          {% else %}
          <a class="nav-link" href="{% url 'user_login' %}">Report</a>
          {% endif %}
        </li>
        {% endif %}

        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog-home' %}">Blog</a>
        </li>

        {% if status == '1' %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile' %}">
            <img src="/media/{{ profile_pic }}" alt="avatar" class="rounded-circle img-fluid" style="width: 27px;height: 27px;">&nbsp;{{ user.first_name }} {{ user.last_name }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" href="{% url 'user_logout' %}"
            >Log out</a
          >
        </li>
        {% else %}
        <li class="nav-item">
          <a
            class="nav-link"
            data-toggle="modal"
            data-target="#login_signup"
            href="{% url 'register' %}"
            >Login/Signup</a
          >
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
