<nav class="navbar navbar-expand-lg navbar-default fixed-top" id="mainNav">
  <div class="container">

    {% if is_home %}
    <a href="{% url 'home' %}"
      ><button
        class="btn btn-warning btn-lg text-uppercase"
        data-bs-dismiss="modal"
        type="button"
      >
        Home
      </button></a
    >
    {% endif %}

    {% if is_report_page %}
        <a href="https://uppolice.gov.in/frmOfficials.aspx?commvns&cd=NAA1ADIAMgA%3D" target="_blank">
          <button
          class="btn btn-danger btn-lg text-uppercase"
          data-bs-dismiss="modal"
          type="button">
          Police Complaint
        </button></a>
    {% endif %}

    {% if is_navbar_responsive %}
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      Menu
      <i class="fas fa-bars ms-1"></i>
    </button>
    {% endif %}

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">

        {% if is_home_nav %}
        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
        {% endif %}

        {% if status == '1' %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile' %}">{{ user.email }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" href="{% url 'user_logout' %}"
            >Log out</a
          >
        </li>
        {% else %}
        <li class="nav-item">
          <a
            class="nav-link"
            data-toggle="modal"
            data-target="#login_signup"
            href="{% url 'register' %}"
            >Login/Signup</a
          >
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
